@media (max-width: 1199.98px) {
  .section-2 .spares-wrap {
    grid-template-columns: repeat(3, 1fr);
  }
  body header {
    min-height: 64px;

    .logo img {
      max-height: 48px;
    }

    .brand-name {
      margin: 0;
      font-size: 14px;
      letter-spacing: 0.2em;
      line-height: inherit;
    }
  }
  body .r-side {
    .tel-list {
      display: none;
      position: absolute;
      min-width: 152px;
      top: calc(100% + 8px);
      left: -53px;
      margin: 0 !important;
      background: #FFFFFF;
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
      border-radius: 0 0 8px 8px;
      text-align: center;
      padding: 10px 0;

      li {
        min-height: 30px;
      }

      a {
        color: $dark-grey;
      }

    }

  }
}

@media (max-width: 991.98px) {
  .section-1 .home-services {
    grid-template-columns: 1fr;
    grid-row-gap: 30px;

    a {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  .section-2 .spares-wrap {
    grid-template-columns: repeat(2, 1fr);
  }

  .product .product-image {
    padding: 0;
  }

  .spares-wrap .spare-card .img-wrap {
    height: 300px;
  }
}

@media (max-width: 767.98px) {
  body h1 {
    font-size: 20px;
    line-height: 30px;
  }
  body .section-1,
  body .section-2,
  body .section-3,
  body .section-4,
  body .default-page {
    padding: 65px 0 45px;
  }
  body .section-1 {
    background-image: none !important;
    background-color: $red;

    h1 {
      margin-bottom: 40px;
    }

    .service-card {
      padding-left: 15px;
      padding-right: 15px;

      .icon {
        width: 30px;
        height: 30px;
      }

      a {
        padding: 20px 10px;
      }
    }

    .text {
      margin-top: 0;
      font-size: 14px;
    }
  }
  body .section-2 {
    h1 {
      margin-bottom: 40px;
    }

    .spares-wrap {
      grid-column-gap: 4px;
      grid-row-gap: 4px;
    }
    .about {
      margin: 2px 0 3px;
      font-size: 9px;
      line-height: 14px;
      min-height: 28px;
    }
    .spare-price {
      font-size: 14px;
      line-height: 24px;
    }
    .spare-name {
      margin-bottom: 6px;
      font-size: 9px;
      line-height: 14px;
      min-height: 14px;
    }
  }

  body .section-3 {
    .tesla-info {
      margin-top: 30px;
    }
  }
  body .section-4 {
    h1 {
      margin-bottom: 22px;
    }

    .address {
      margin-bottom: 6px;
      font-size: 14px;
    }

    .phones-list {
      margin-bottom: 30px;

      li {
        min-height: 32px;

        a {
          font-size: 14px;
        }
      }
    }
  }
  body .product {
    padding: 10px 0 72px;
    .back-btn {
      margin-bottom: 32px;
      a {
        font-size: 12px;
      }
    }
    .product-image {
      margin-bottom: 28px;
    }
    h1 {
      line-height: 30px;
      margin-bottom: 14px;
    }
    .product-price {
      margin-bottom: 38px;
    }
    h2,
    .spec {
      font-size: 13px;
      line-height: 20px;
    }
    hr {
      margin: 60px 0 71px;
    }
  }
  body .default-page {
    h1 {
      margin-bottom: 40px;
    }
    p {
      font-size: 12px;
      line-height: 18px;
    }
  }
  .spares-wrap .spare-card .img-wrap {
    height: 223px;
  }
}

@media (max-width: 575.98px) {
  .spares-wrap .spare-card .img-wrap {
    height: 140px;
    img {
      max-height: 100%;
    }
  }
}


@media (min-width: 1200px) {
}

@media (min-width: 992px) {
  .home-services {
    .arrow-icon {
      margin-top: auto;
    }
  }
  .service-card:hover {
    background: $red;

    .arrow-icon {
      transform: translate3d(5px, 0, 0);

      g {
        stroke: #FFFFFF;
      }
    }

    .arrow-icon--circle {
      stroke-dashoffset: 0;
    }
  }
  .service-card:nth-child(1):hover .icon {
    background-image: url("../images/battery_hover.svg");
  }
  .service-card:nth-child(2):hover .icon {
    background-image: url("../images/car_hover.svg");
  }
  .service-card:nth-child(3):hover .icon {
    background-image: url("../images/spray-gun_hover.svg");
  }
  .service-card:nth-child(4):hover .icon {
    background-image: url("../images/usa_hover.svg");
  }
  .service-card a:hover {
    text-decoration: none;
    color: #ffffff;
  }
  .section-3 {
    .tesla-info {
      column-count: 2;
      column-gap: 30px;
    }
  }
  .sidebar.scrolled {
    top: 0;
    left: 0;
    right: auto;
    min-height: auto;
    min-width: 100%;
    padding: 12px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .close-menu {
      display: none;
    }

    .nav-menu {
      padding: 0;

      li {
        display: inline-block;

      }
    }
  }
  .nav-phones a,
  .sidebar.scrolled .nav-menu li a {
    font-size: 15px;
    position: relative;
    &:before,
    &:after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0; right: 0;
      height: 2px;
      background-color: $red;
    }
    &:before {
      opacity: 0;
      transform: translateY(- 20px);
      transition: transform 0s cubic-bezier(0.175, 0.885, 0.320, 1.275), opacity 0s;
    }
    &:after {
      opacity: 0;
      transform: translateY(20px/2);
      transition: transform .2s cubic-bezier(0.175, 0.885, 0.320, 1.275), opacity .2s;
    }
    &:hover,
    &:focus {
      text-decoration: none;
      &:before,
      &:after {
        opacity: 1;
        transform: translateY(0);
      }
      &:before {
        transition: transform .2s cubic-bezier(0.175, 0.885, 0.320, 1.275), opacity .2s;
      }
      &:after {
        transition: transform 0s .2s cubic-bezier(0.175, 0.885, 0.320, 1.275), opacity 0s .2s;
      }
    }
  }

  .nav-phones {
    position: relative;
    padding: 0 25px 0 0;
    cursor: pointer;
    li {
      list-style-type: none;
      margin-left: 17px;
    }
    a {
      font-family: 'GothamProBold';
      font-size: 15px;
      color: #ffffff;
    }
    &:after{
      line-height: 4px;
      width: 10px;
      position: absolute;
      content: url("../images/shevron.svg");
      display: inline-block;
      right: 5px;
      top: 10px;
      transform: rotate(180deg);
      transform-origin: center;
      transition: transform .2s;
    }
    &.active {
      &:after {
        transform: rotate(0);
      }
      a {
        &:after {
          content: '';
          position: absolute;
          bottom: -5px;
          left: 0; right: 0;
          height: 2px;
          background-color: $red;
          opacity: 1;
        }
      }
    }

  }
}

@media (min-width: 768px) {
}

@media (min-width: 576px) {
}



