@import "vars";
@import "media";
@import "home";
@import "product";
@import "preloader";

@font-face {
  font-family: 'GothamProRegular';
  src: url('../fonts/GothamProRegular/GothamProRegular.eot');
  src: url('../fonts/GothamProRegular/GothamProRegular.eot?iefix') format('eot'),
  url('../fonts/GothamProRegular/GothamProRegular.woff') format('woff'),
  url('../fonts/GothamProRegular/GothamProRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamProBold';
  src: url('../fonts/GothamProBold/GothamProBold.eot');
  src: url('../fonts/GothamProBold/GothamProBold.eot?iefix') format('eot'),
  url('../fonts/GothamProBold/GothamProBold.woff') format('woff'),
  url('../fonts/GothamProBold/GothamProBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamProLight';
  src: url('../fonts/GothamProLight/GothamProLight.eot');
  src: url('../fonts/GothamProLight/GothamProLight.eot?iefix') format('eot'),
  url('../fonts/GothamProLight/GothamProLight.woff') format('woff'),
  url('../fonts/GothamProLight/GothamProLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamProBlack';
  src: url('../fonts/GothamProBlack/GothamProBlack.eot');
  src: url('../fonts/GothamProBlack/GothamProBlack.eot?iefix') format('eot'),
  url('../fonts/GothamProBlack/GothamProBlack.woff') format('woff'),
  url('../fonts/GothamProBlack/GothamProBlack.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'GothamProRegular';
}

h1 {
  font-family: 'GothamProBlack';
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 30px;
  color: $dark-grey;
}

//----------HEADER----------

header {
  min-height: 160px;
  background-color: $grey;
  align-items: center;
  color: #ffffff;
  display: flex;

  .container {
    height: 100%;
  }

  &.fixed {
    position: fixed;
    width: 100%;
    z-index: 20;
  }
}

.top-header {
  display: flex;
  justify-content: space-between;
}

.l-side {
  display: flex;
  align-items: center;
}

.tel-list {
  &.onScroll {
    display: none;
    position: fixed;
    top: 72px;
    padding: 14px 14px 14px 0 !important;
    margin: 0 0 0 15px !important;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 8px 8px;
    z-index: 10;
    a {
      color: $grey !important;
      border-left: 4px solid transparent;
      padding-left: 10px;
      &:hover {
        border-left: 4px solid $red;
        color: $red;
        text-decoration: none;
      }
    }
  }
}

.logo {
  margin-right: 23px;
}

.brand-name {
  font-family: 'GothamProBlack';
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.brand-descr {
  font-family: 'GothamProBold';
  font-size: 20px;
  line-height: 40px;
  line-height: 25px;
}

.r-side {
  display: flex;
  align-items: center;
  position: relative;

  .tel-list {
    list-style-type: none;
    margin: 0 54px 0 0;
    padding: 0;

    a {
      font-family: 'GothamProBold';
      color: #ffffff;
      font-size: 15px;
    }
  }
}

.phones-toggler {
  background: url("../images/mobile-alt-solid.svg") no-repeat center $light-grey;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}

.menu-toggler {
  display: flex;
  align-items: center;

  & > span {
    font-family: 'GothamProBold';
    font-size: 16px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-right: 6px;
  }

  .menu-btn {
    width: 32px;
    height: 32px;
    background-color: $light-grey;
    border-radius: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;

    span {
      height: 2px;
      background-color: #ffffff;
      transition: .2s ease;
      margin-right: 7px;

      &:first-child {
        width: 18px;
        margin-bottom: 5px;
      }

      &:last-child {
        width: 14px;
      }
    }

    &:hover {
      span:first-child {
        width: 12px;
      }

      span:last-child {
        width: 18px;
      }
    }
  }
}


//-------sidebar-------

.sidebar {
  padding: 65px 0;
  position: fixed;
  top: 0;
  right: -100vw;
  min-height: 100vh;
  min-width: 40vw;
  background-color: $dark-grey;
  z-index: 2;

  .nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      padding: 12px 0;
      margin-right: 15px;
      a {
        font-family: 'GothamProBold';
        font-size: 24px;
        color: #FFFFFF;
        transition: .2s;
      }
    }
  }

  &.opened {
    right: 0;
    .nav-menu  li {
      a {
        padding-left: 13px;
        border-left: 4px solid transparent;
        &:hover {
          border-left: 4px solid $red;
          text-decoration: none;
        }
      }
    }
    .nav-phones {
      visibility: hidden;
    }
  }

  &:not(.scrolled) {
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
}

.close-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'GothamProBold';
  color: $light-grey;
  font-size: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  cursor: pointer;
  width: fit-content;
  margin: 0 auto 38px;

  .close-btn {
    background: url("../images/Cross.svg") no-repeat center;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: $light-grey;
    margin-left: 5px;
  }

  span {
    position: relative;

    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';
      display: inline-block;
      height: 2px;
      background-color: $red;
      width: 0;
      transition: .2s ease-in-out;
    }

  }

  &:hover span:after {
    width: 100%;
  }
}

//----------HEADER END----------

//----------FOOTER----------
.footer-nav {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    min-height: 30px;
  }

  a {
    font-family: 'GothamProRegular';
    font-size: 14px;
    color: #FFFFFF;
  }
}

footer {
  font-family: 'GothamProRegular';
  background-color: $dark-grey;
  padding: 35px 0 45px;
  border-top: 1px solid #707E98;

  address {
    color: $light-grey;
    font-size: 14px;
    font-style: normal;
    text-align: right;

    a {
      color: $light-grey;

      &:hover {
        color: $light-grey;
      }
    }
  }
}

//----------FOOTER END----------

//----------ANIMATION----------
.swing-in-top-fwd {
  -webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
  animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}

@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}

//=====



//----------ANIMATION END----------

//============ CONTACTS PAGE============
.contacts {
  background-color: #E5E5E5;
  min-height: calc(100vh - 325px);

  .section-4 {
    background-color: transparent;
    color: $grey;
  }

  h1 {
    color: $grey;
  }

  .phones-list a {
    color: $grey;
  }
}

//============ CATALOG PAGE============
.catalog {
  min-height: calc(100vh - 325px);
}


//============ DEFAULT PAGE============
.default-page {
  min-height: calc(100vh - 325px);
  padding: 122px 0 80px;
  background: rgba(112, 126, 152, 0.16);;

  h1 {
    margin-bottom: 76px;
  }

  p {
    color: #222222;
  }

  a {
    color: #222222;
  }
}
